@using Domain.TransferTypes
@using RESHtUNI.Data
@inject JsonRepository DB
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img class="bi1" src="main_logo.svg" />
            <span >RESHtUNI</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="bi bi-search-nested-nav-menu" aria-hidden="true"></span> Поиск
            </NavLink>
        </div>
        @if (CacheGroup != null)
        {
            
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="@CacheGroup.ToString()">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @CacheGroup.Name
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code{
    protected TransferGroup CacheGroup { get;set; }
    protected override async Task OnInitializedAsync(){
        CacheGroup = await DB.GetGroups();
    }
}